
#menu{
    background-color:rgba(255,255,255,0.2);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    align-items: center;
}
 #menu h2{
    margin-bottom:20px ;
 }

 #menu input[type="text"],
 #menu input[type="password"]{
    width: 100% ;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#menu button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
#menu button:hover{
    background-color: #0056b3;
}
#menu a{
    display: flex;
    margin: 12px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
}
#menu a:hover{
    text-decoration: underline;

}
body
{
background-image:url(Ariel_\ Jodi\ Benson.jpg);
display: flex ;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

